# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Environment
venv/
env/

# ROS
build/
devel/
log/

# compile
*.o
*.lo
*.la
*.al
*.libs
*.so
*.so.*

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# run
*.swp
*.swo
*.bak
*.tmp
*.log

# IDE
.vscode/
.idea/
*.iml

# other
.DS_Store
Thumbs.db

ar_track_alvar_msgs/
open_manipulator/
open_manipulator_msgs/
open_manipulator_simulations/
open_manipulator_with_tb3/
robotis_manipulator/
turtlebot3/
turtlebot3_msgs/
turtlebot3_simulations/